<div class="pagehead-details container">
  <!-- Bread crumb -->
  <ol class="breadcrumb">
    <li>
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      <a href="#">Projects</a>
    </li>
    <li class="active"><strong><a href="#"><%= @project.github_repository %></a></strong></li>
  </ol>
</div>
