<div class="container">
  <!-- Nav tabs -->
   <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active"><a href="#backlog" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Backlog <span class="badge"><%= @issues.count %></span></a></li>
     <li role="presentation"><a href="#active-sprint" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Active Sprint</a></li>
     <li role="presentation"><a href="#reports" aria-controls="messages" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Reports</a></li>
     <li role="presentation"><a href="#reports" aria-controls="messages" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Retrospectives</a></li>
   </ul>
</div>
