<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th style="width:10%">Issue #</th>
      <th style="width:90%">Title</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td>
          <%= issue.number %>
        </td>
        <td>
          <%= issue.title %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
