<table class="table table-condensed table-hover">
     <thead>
       <tr>
         <th></th>
         <th>Issue #</th>
         <th>Title</th>
         <th>Estimate</th>
         <th></th>
       </tr>
     </thead>
      <tbody>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox">
              </label>
            </div>
          </td>
          <th scope="row">1</th>
          <td>Supplier details</td>
          <td></td>
          <td>
            <!-- Single button -->
           <div class="btn-group">
             <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Action <span class="caret"></span>
             </button>
             <ul class="dropdown-menu">
               <li><a href="#">Log Time</a></li>
               <li><a href="https://github.com/rogertinsley/html-mockups/issues/3" target="_blank">View on GitHub</a></li>
               <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a></li>
             </ul>
           </div>
         </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox">
              </label>
            </div>
          </td>
          <th scope="row">2</th>
          <td>Compliance form</td>
          <td></td>
          <td>
            <!-- Single button -->
           <div class="btn-group">
             <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Action <span class="caret"></span>
             </button>
             <ul class="dropdown-menu">
               <li><a href="#">Log Time</a></li>
               <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a></li>
             </ul>
           </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox">
              </label>
            </div>
          </td>
          <th scope="row">3</th>
          <td>Declaration form</td>
          <td></td>
          <td>
            <!-- Single button -->
           <div class="btn-group">
             <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Action <span class="caret"></span>
             </button>
             <ul class="dropdown-menu">
               <li><a href="#">Log Time</a></li>
               <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a></li>
             </ul>
           </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-left">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Add to sprint
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Sprint 1</a></li>
          <li><a href="#">Sprint 2</a></li>
          <li><a href="#">Sprint 3</a></li>
          <li><a href="#">Sprint 4</a></li>
        </ul>
      </div>
    </div>

</div>
