<!-- Issues and Sprint buttons -->
<div class="pull-left">
  <div class="btn-group" role="group">
    <%= mark_button_as_primary('Issues', backlog_path) %>
    <%= mark_button_as_primary('Milestones', backlog_milestone_path) %>
  </div>
</div>
